* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}
  /*--------------------------Header---------------------*/
.header-container {
    position: relative;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}
.slogan {
    padding-left: 23px;
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    height: 42px;
}
.search input {
    width: 406px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.search img {
    width: 70px;
    height: 42px;
}
.search-input {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-indent: 20px;
    color: black;
    text-align: left;
}
.search-input::placeholder {   
    color: #767474;
}
.items {
    display: flex;
    align-items: center;
    height: 100px;
}
.items-icon1 {
    width: 28px;
    height: 42px;
    cursor: pointer;
}
.items-icon2 {
    width: 57px;
    height: 42px;
    padding-left: 10px;
}
.sign-up {
    display: flex;
    align-items: center;
}
.sign-in {
    display: flex;
    align-items: center;
}
.link-page {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    line-height: 23px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 13px;
    text-decoration: none;
    padding: 0;
}
.link-page:hover{
    color: blue;
}
.items-text {   
    padding-left: 13px; 
    margin: 0;
    width: 70px;
}
.sign-in .items-text {
    padding-left: 7px;
    margin: 0;
}
.cart-icon {
    width: 44px;
    height: 42px;
    padding-left: 20px;
    padding-right: 23px;
    padding-top: 5px;
}
.menu {
    display: none;
}
.body-container {
    position: relative;
    width: 100%;
}
/*----------------Header mobile-----------*/
.header-container-mobile{
    display: none;
}
.slogan-Mb{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    background: #E9E9E9;
}
.shop-name-Mb {
    text-decoration: none;
}
.shop-name-Mb p{
    text-align: center;
    align-items: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 60px;
    line-height: 64px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
}
.tool-bar{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: max-content;
    justify-content: space-around;
}
.search-Mb {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}
.search-Mb input {
    width: 406px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.search-input-Mb {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-indent: 20px;
    color: black;
    text-align: left;
}
.search-input-Mb::placeholder {   
    color: #767474;
}
.menu > .menu-icon{
    width: 65px;
    height: 60px;
    align-items: center;   
}
.cart-Mb{
    align-items: center;
    padding-top: 9px;
}
  /*--------------------------Menu---------------------*/
.overLayout{
    display: none;
}
#input-menu{
    display: none;
}
.overLayout{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    animation: fadeIn linear 0.2s;
}
.link-page-Mb{
    display: none;
}
.remove-icon{
    display: none;
}
.menu-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: max-content;
    padding-left: 23px;
    padding-top: 20px;
}
.shop-name {
    font-family: 'Sansita Swashed', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    text-decoration: none;
    line-height: 64px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-name {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}
.product-item {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 44px;  
    color: #000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -20px;
}
  /*--------------------------Account infor---------------------*/
.account-infor {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 370px;
}
.account-header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}
.divider-bar {
    margin-top: 15px;
    margin-right: 23px;
    height: 1px;   
    background-color: black;
}
.infor-container {   
    display: flex;  
    margin-top: 44px;   
}
.infor {
    width: 25%;
    padding-left: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infor img {
    width: 150px;
    height: 150px;
}
.infor-header {
    margin-top: 38px;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    color: #000000;
}
.edit {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 57px;
    color: #000000;
}
.edit-input {
    width: 500px;
    height: 55px;  
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 27px;
    text-indent: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: black;
}
.save {
    margin-top: 27px;
    background: #20911E;
    width: 500px;
    height: 65px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;   
    color: #FFFFFF;  
}
.change-pass {
    width: 75%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 57px;
    color: #000000;
}
.changePassBtn {
    margin-top: 27px;
    background: #20911E;
    width: 500px;
    height: 65px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;   
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%)
}
.errNote {
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: red;
}
 /*------------------------------Footer---------------------*/
.footer-container {
    display: flex;
    padding-left: 370px;
    margin-bottom: 39px;
    margin-top: 80px;
}
.footer {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.follow {
    margin-left: 70px;
}
.contact img{
    width: 41px;
    height: 41px;
}
.title{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
} 
 /*------------------------------------Your cart--------------------------*/
.cart-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 370px;
}
.cart-header p{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}
.cart-items table {
    width: 100%;
    text-align: center;
}
.cart-items table th {
    padding-top: 30px;
    font-weight: bold;
    font-size: 23px;
    line-height: 44px;
    color: #000000;
    border-bottom: 1px solid black;
}
.cart-items table p {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
}
.select-image img{
    width: 235px;
    height: 245px;
}

.select-button input{
    width: 40px;
    font-size: 21px;
    text-align: center;
}
.cart-items table{
    border-bottom: 1px solid black;  
}
#quantity {
    text-align: center;
    font-size: 21px;
    border: none;
    width: 30px;
}
.price-total {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-align: right;
    padding-right: 50px;
}
/*---------------------------Store page---------------*/
.productArea{
    padding-left: 370px;
    width: 100%;
    box-sizing: border-box;
}
.imageHeader{
    padding-top: 30px;
    width: 100%;
}
.title{
    text-align: center;
    font-family: 'Lemon', cursive;
    font-size: 26px;
    padding-top: 100px;
    padding-bottom: 5px;
}
.subTitle{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    padding-bottom: 30px;
    cursor: pointer;
}
.subTitle:hover{
    color: #2cccff;
}
.image-slider{
    display: flex;
    align-items: center;
} 
.image{
    width: max-content;
    height: max-content;
}
.image img{
    width: 235px;
    height: 245px;
    object-fit: cover;
}
.image-item > .details{
    justify-content: center;
    width: 235px;
    margin-top: 35px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.image-item > .price{
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 14px;
    width: 235px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1;
    z-index: 2;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.slick-arrow:hover{
    background-color: #2cccff;
    color: white;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.add {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.616);
    transition: all 0.2s ease-in-out;
    display: none;
    cursor: pointer;
    text-align: center;
}
.image-item:hover .add{
    width: 235px;
    bottom: 85px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
}