@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    #input-menu:checked ~ .overLayout{ 
        display: block;
    }
    #input-menu:checked ~ .menu-bar{ 
        transform: translateX(0%); 
        opacity: 1;
    }
    .remove-icon{
        width: 32px;
        display: block;
        position: absolute;
        right: 0;
        padding: 20px 20px;
    }
    .sign-in{
        margin-top: 70px;
    }
    .items-icon1{
        padding-left: 25px;
        padding-right: 8px;
    }
    .items-text{
        width: max-content;
        font-size: 25px;
    }
    .link-page-Mb{
        display: block;
        text-decoration: none;
    }
    .link-page-Mb:hover{
        color: blue;
    }
    .header-container{
        display: none;
    }
    .header-container-mobile{
        display: block;
    }
    .menu {
        display: block;
        cursor: pointer;
    }
    .menu-bar {
        position: fixed;
        width: max-content;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 4;
        background-color: #fff;
        display: flex;
        opacity: 0;
        transform: translateX(-100%); 
        transition: transform linear 0.2s, opacity linear 0.2s ;
    }  
    .shop-name {
        margin-top: 70px;
        text-align: center;
        margin-right: 10px;
    }
    .cart-container{
        padding-left: 15px;
    }
    .account-infor{
        padding-left: 15px;
    }
    .product-name {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .productArea{
        padding-left: 0;
    }
    .footer-container {
        padding-left: 0;
        justify-content: space-around;
    }
    }
/*Mobile*/
@media only screen and (max-width: 46.25em) /*739px*/ {
    
}
