* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("/Web-Store/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-container {
    width: 525px;
    height: max-content;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.7);
}
.login-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 93px;
    line-height: 109px;
    color: #FFFFFF;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.button-social {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.social1, .social2 {
    align-items: center;
}
.social1 {
    margin-right: 46px;
}
.social-item {
    width: 202px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 7px 6px;
    display: flex;
    align-items: center;
}
.social-item img{
    width: 30px;
    height: 30px;
}
.social-text {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    justify-self: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
}

.choice-icon {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.choice-text {
    padding: 14px 11px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-area {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.login-input {
    width: 415px;
    height: 44px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    color: black;   
}
#user-name, #password {
    width: 450px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    text-indent: 20px;
}
#password {
    margin-top: 25px;
}

.login-forgot {
    margin-top: 16px;
    margin-left: 15px;
}
.login-forgot a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.errText {
    height: 18px;
    margin: 16px auto;
    text-align: center;
    color: red;
}
.button-item {
    width: 450px;
    height: 55px;
    background: #FB0716;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 25px;
    color: #FFFFFF;
}
.sign-up-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}
.sign-up-text a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #4F66E1;;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}